<div class="h-screen bg-gray-900 text-white">
    <header class="flex justify-between items-center p-4 bg-gray-800">
      <img src="logo.png" alt="Logo" class="h-12" />
      <h1 class="text-2xl font-bold">DEPORTISTAS</h1>
      <div class="flex items-center gap-4">
      </div>
    </header>
    <main class="px-6 py-4">
      <div class="flex items-center mb-6">
        <input
          type="text"
          placeholder="Buscar"
          class="flex-1 px-4 py-2 rounded-l bg-gray-700 text-white focus:outline-none"
        />
        <button class="px-4 bg-gray-600 rounded-r">🔍</button>
      </div>
  
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-4">
        <div *ngFor="let deportista of deportistas" class="deportista-card">
          <img
            [src]="deportista.imagen_de_perfil || 'assets/default-placeholder.png'"
            alt="{{ deportista.nombre }}"
            class="w-full h-48 object-cover rounded-md"
          />
          <h2 class="mt-4 text-lg font-bold text-white">{{ deportista.nombre }}</h2>
          <p class="text-gree-400">{{ deportista.deporte }}</p>
          <p class="text-gray-300 mt-2">{{ deportista.descripcion }}</p>
        </div>
      </div>
    </main>
  </div>
  