<div class="max-w-screen-lg mx-auto">
  <h1 class="text-6xl text-white font-bold pb-10 pt-4 text-center">¿Quienes somos?</h1>

  <div class="flex justify-end">
    <a
      id="backquienessomos"
      routerLink="/"
      class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-xl text-lg shadow-md transition-transform transform hover:scale-105"
    >
      ⬅ Volver
    </a>
  </div>

  @if (quienes_somos) {
    <p class="text-white">{{ quienes_somos }}</p>
  }
  @else {
    <div role="status" class="animate-pulse">
      <div class="h-2 bg-gray-200 rounded-full mb-2.5"></div>
      <div class="h-2 bg-gray-200 rounded-full mb-2.5"></div>
      <div class="h-2 bg-gray-200 rounded-full max-w-[330px] mb-2.5"></div>
      <span class="sr-only">Loading...</span>
    </div>
  }
</div>
