<footer class="border-t border-t-secondary shadow-xl">
	<div class="mx-auto w-full">
		<div class="sm:flex sm:items-center sm:justify-between">
			<ul
				class="mx-auto flex w-full max-w-screen-lg justify-around py-4 text-gray-200">
				<li>
					<a href="#" class="hover:underline">¿Quienes somos?</a>
				</li>
				<li>
					<a href="#" class="hover:underline"
						>Políticas de privacidad</a
					>
				</li>
				<li>
					<a href="#" class="hover:underline"
						>Términos y condiciones</a
					>
				</li>
				<li>
					<a href="#" class="hover:underline">Contáctenos</a>
				</li>
			</ul>
		</div>
		<span class="block bg-black text-sm text-gray-200 sm:text-center"
			>© 2024 Elite Hub. Todos los derechos reservados.</span
		>
	</div>
</footer>
